<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="home.css">

    <title>Home | Auxilia</title>
</head>
<body>
    <header id="head">
        <nav>
          <div class="logo">
            <img src="img/Auxilia.png"></img>
          </div>
          <ul class="navlist">
            <li><a href="home" method="get">Home</a></li>
            <li><a href="meditation" method="get">Meditation</a></li>
            <li><a href="about" method="get">About</a></li>
            <li><a href="profile" method="get">Profile</a></li>
          </ul>
        </nav>


      </header>
      
      <main>
        <div class="home-banner">
          <div class="banner-container">
            <h1 class="banner">WELCOME <br> {{firstname}} {{lastname}}</h1>
          </div>
          
        </div>

        <div class="home-plant">
          <h1 id="plant_heading">MY PLANT</h1>

         <!-- partial:index.partial.html -->
        {{!-- <div class="wrapper"> --}}
         
            
          <div class="box">
            
            {{!-- {{plant}} --}}
            {{#if_equal completedTasks.length "0"}}
              <div class="stem">
                <div class="leaf leaf00">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf01 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf02 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf03 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf04 ">
                  <div class="line"></div>
                </div>
              </div>
            {{/if_equal}}

            {{#if_equal completedTasks.length "1"}}
              <div class="stem">
                <div class="leaf leaf00 r">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf01 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf02 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf03 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf04 ">
                  <div class="line"></div>
                </div>
              </div>
            {{/if_equal}}

            {{#if_equal completedTasks.length "2"}}
              <div class="stem rain2">
                <div class="leaf leaf00 r leaf1_2">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf01 r">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf02 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf03 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf04 ">
                  <div class="line"></div>
                </div>
              </div>
            {{/if_equal}}

            {{#if_equal completedTasks.length "3"}}
              <div class="stem rain2 rain3">
                <div class="leaf leaf00 r leaf1_2 leaf1_3">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf01 r r2">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf02 t">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf03 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf04 ">
                  <div class="line"></div>
                </div>
              </div>
            {{/if_equal}}

            {{#if_equal completedTasks.length "4"}}
              <div class="stem rain2 rain3 rain4">
                <div class="leaf leaf00 r leaf1_2 leaf1_3 leaf1_4">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf01 r r2 r3">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf02 t t2">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf03 y">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf04 ">
                  <div class="line"></div>
                </div>
              </div>
            {{/if_equal}}

            {{#if_equal completedTasks.length "5"}}
              <div class="stem rain2 rain3 rain4 rain5">
                <div class="leaf leaf00 r leaf1_2 leaf1_3 leaf1_4 leaf1_5">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf01 r r2 r3 r4">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf02 t t2 t3">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf03 y y2">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf04 u">
                  <div class="line"></div>
                </div>
              </div>

            {{else}}
              <div class="stem">
                <div class="leaf leaf00">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf01 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf02 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf03 ">
                  <div class="line"></div>
                </div>
                <div class="leaf leaf04 ">
                  <div class="line"></div>
                </div>
              </div>
            {{/if_equal}}
            
            <div class="pot-top"></div>
            <div class="pot"></div>
            
          </div>
        {{!-- </div> --}}

        <!-- partial -->
        </div>

        <div class="home-tasks">

           <div class="notepadbase">
              <div class="tasks-header">
                <h1 class="textbox" >Daily Tasks  ({{#prettifyDate tasks.0.task_date}}{{/prettifyDate}})</h1>
              </div>
              <div class="tasks-list">
                <div class="task-item">
                    {{#each tasks}}
                      
                      {{#if_equal @index "0"}}
                        {{#ifCheck ../completedTasks _id}}
                          <form>
                            <div class="item">
                              <div class="drop c"></div>
                              <input type="hidden" name="drop" value="0">
                              <p class="textbox1 ct" >{{task_description}}</p>
                            </div>
                          </form>
                        {{else}}
                          <form>
                            <div class="item">
                              <div class="drop"></div>
                              <input type="hidden" name="drop" value="0">
                              <p class="textbox1" >{{task_description}}</p>
                            </div>
                          </form>
                        {{/ifCheck}}

                      {{/if_equal}}

                      {{#if_equal @index "1"}}
                      
                        {{#ifCheck ../completedTasks _id}}
                          <form>
                            <div class="item">
                              <div class="drop2 c c2"></div>
                              <input type="hidden" name="drop" value="1">
                              <p class="textbox2 ct ct2" >{{task_description}}</p>
                            </div>
                          </form>
                        {{else}}
                          <form>
                            <div class="item">
                              <div class="drop2"></div>
                              <input type="hidden" name="drop" value="1">
                              <p class="textbox2" >{{task_description}}</p>
                            </div>
                          </form>
                        {{/ifCheck}}

                      {{/if_equal}}

                      {{#if_equal @index "2"}}
                      
                        {{#ifCheck ../completedTasks _id}}
                          <form>
                            <div class="item">
                              <div class="drop3 c3"></div>
                              <input type="hidden" name="drop" value="2">
                              <p class="textbox3 ct3" >{{task_description}}</p>
                            </div>
                          </form>
                        {{else}}
                          <form>
                            <div class="item">
                              <div class="drop3"></div>
                              <input type="hidden" name="drop" value="2">
                              <p class="textbox3" >{{task_description}}</p>
                            </div>
                          </form>
                        {{/ifCheck}}

                      {{/if_equal}}

                      {{#if_equal @index "3"}}
                      
                        {{#ifCheck ../completedTasks _id}}
                          <form>
                            <div class="item">
                              <div class="drop4 c4"></div>
                              <input type="hidden" name="drop" value="3">
                              <p class="textbox4 ct4" >{{task_description}}</p>
                            </div>
                          </form>
                        {{else}}
                          <form>
                            <div class="item">
                              <div class="drop4"></div>
                              <input type="hidden" name="drop" value="3">
                              <p class="textbox4" >{{task_description}}</p>
                            </div>
                          </form>
                        {{/ifCheck}}

                      {{/if_equal}}

                      {{#if_equal @index "4"}}
                      
                        {{#ifCheck ../completedTasks _id}}
                          <form>
                            <div class="item">
                              <div class="drop5 c5"></div>
                              <input type="hidden" name="drop" value="4">
                              <p class="textbox5 ct5" >{{task_description}}</p>
                            </div>
                          </form>
                        {{else}}
                          <form>
                            <div class="item">
                              <div class="drop5"></div>
                              <input type="hidden" name="drop" value="4">
                              <p class="textbox5" >{{task_description}}</p>
                            </div>
                          </form>
                        {{/ifCheck}}

                      {{/if_equal}}

                      
                    {{/each}}

                </div>
              </div> 
          </div>
        </div>


      </main>
      
      <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script><script  src="./home.js"></script>
</body>
</html>